@page "/"
@namespace Ecommerce.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
<!-- Add this just before your closing </body> tag -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+4Fj7lUpOft4PwKbNIb2V+GxML6nHbDp41VIzWrH9m6M0Q4" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-mgPhYdEuSwSKO5K+dQ9i5lI8cjPzJ1r8p9Sl+12k4u2/f0C71lg8yLDb2TpF9rYN"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha384-fzjw1wpIrvZW73lDqrlkrDJY35W7p8E4R3c99epZlTBpjF00Rd12F5Fk2J5fu8jU" crossorigin="anonymous">

<!-- Add this to _Host.cshtml -->
@*<script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-database.js"></script>
<script>
// Your web app's Firebase configuration
const firebaseConfig = {
apiKey: "AIzaSyDzQnX8TJQLtFC2L24CkNqbUaVb6B5EBQE",
authDomain: "eshop-7f58a.firebaseapp.com",
databaseURL: "https://eshop-7f58a-default-rtdb.firebaseio.com",
projectId: "eshop-7f58a",
storageBucket: "eshop-7f58a.appspot.com",
messagingSenderId: "611103496996",
appId: "1:611103496996:web:039b4c4e295f29a6ea71b1"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
</script>*@
@*<script> function showModal() {
var modal = document.querySelector('.modal'); var bootstrapModal = new
bootstrap.Modal(modal); bootstrapModal.show();
} function closeModal() {
var modal =
document.querySelector('.modal'); var bootstrapModal = new bootstrap.Modal(modal); bootstrapModal.hide();
}
</script>*@
<component type="typeof(App)" render-mode="ServerPrerendered" />
